ZERO_G_RPC_URL=https://evmrpc.0g.ai
ZERO_G_PRIVATE_KEY=
ZERO_G_STORAGE_INDEXER_RPC=
ZERO_G_EXPLORER_TX_BASE=https://www.0gscan.com/tx/
ZERO_G_EXPLORER_ADDRESS_BASE=https://www.0gscan.com/address/
ZERO_G_REGISTRY_ADDRESS=
