ZERO_G_RPC_URL=https://evmrpc.0g.ai
ZERO_G_PRIVATE_KEY=
ZERO_G_STORAGE_INDEXER_RPC=https://indexer-storage-turbo.0g.ai
ZERO_G_CHAIN_EXPLORER_TX_BASE=https://chainscan.0g.ai/tx/
ZERO_G_CHAIN_EXPLORER_ADDRESS_BASE=https://chainscan.0g.ai/address/
ZERO_G_STORAGE_EXPLORER_BASE=https://storagescan.0g.ai/
ZERO_G_REGISTRY_ADDRESS=
